.landingpage {
  background-image: url('./background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
}

.title {
  color: white;
  font-family: inherit;
  text-shadow:0px 5px 10px #ffffff;
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  padding: 20px
}

.button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Times New Roman;
	font-size:25px;
	font-weight:bold;
	font-style:italic;
	padding:7px 30px;
  margin-left: 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-left: 20px;
  max-width: 200px;
}

.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.msgContainer {
  display: flex;
  flex-direction: column;
  align-items: flex;
}
