.mainContainer{
    width: 760px;
    background-color: #fca211;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    flex-wrap: wrap;
}

.mainContainer p{
    margin-top: 0;
}

.mainContainer form{
    margin: 10px;
    align-items: center;
}

.mainContainer form:first-child{
    border-right: 2px solid #14213D;
    padding-right: 25px;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

.button {
    color: #FCA311;
    background-color: #14213D;
    border-radius: 5px;
    border: none;
    font: inherit;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 15px;
    width: fit-content;
}

.button:hover{
    color: #14213D;
    background-color: #E5E5E5;
    transition: all .2s;
}

.btnContainer{
    margin-top: 10px;
}

.select{
    background-color: #FCA311;
    font-family: inherit;
    border-radius: 5px;
    border: 2px solid #0000004f;
    outline: none;
    font-size: 15px;
    padding: 5px;
    width: 180px;
}

.text{
    font-size: 15px;
    font-weight: bold;
    color: #14213D
}

.clearbutton{
    color: #FCA311;
    background-color: #14213D;
    border-radius: 5px;
    border: none;
    font: inherit;
    padding: 15px 10px;
    margin: 0 5px;
    font-size: 15px;
    width: 80px;
    height: 70px;
}