.formContainer {
  display: flex;
}

::placeholder {
  opacity: 1;
}

.input {
  font-family: inherit;
  padding: 8px;
  width: 300px;
  background-color: #fca21136;
  border-radius: 5px;
  margin-right: 4px;
  border: 3px solid #14213d;
  outline: none;
}

.input:hover {
  font-family: inherit;
  padding: 8px;
  background-color: #fca21136;
  border-radius: 5px;
  border: 3px solid #fca311;
  outline: none;
}

.input:focus {
  border: 3px solid #fca311;
  background-color: #fca211;
}

.search {
  color: #fca311;
  font-size: 20px;
  padding: 8px;
}

.searchBarContainer {
  display: flex;
}

.button {
  border: 3px solid #14213d;
  color: #ffffff65;
  background-color: #fca21136;
  border-radius: 5px;
  width: 60px;
}

.button:hover {
  color: #14213d;
  background-color: #fca211;
}
